<?xml version="1.1" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
	default-lazy-init="true">
	
	<description>Spring公共配置 </description>
	
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	
	<!-- 读取配置文件 -->
	<context:property-placeholder ignore-unresolvable="true" location="classpath*:/web/application.properties" />
	<!-- 该 BeanPostProcessor 将自动对标注 @Autowired 的 Bean 进行注入 -->     
   	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>  
	<!-- 框架数据源配置, 使用druid连接池 -->
	
	<!-- 图书管理系统数据源配置 -->
	<bean id="framework_dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${tcmhipw.jdbc.driver}" />
		<property name="url" value="${tcmhipw.jdbc.url}" />
		<property name="username" value="${tcmhipw.jdbc.username}" />
		<property name="password" value="${tcmhipw.jdbc.password}" />
		<!-- sql防火墙 -->
		<!-- <property name="filters" value="wall,mergeStat" /> -->
		<!-- 申请连接的时候检测 -->
		<property name="testWhileIdle" value="true"></property> 
		<!-- 检测连接 -->
		<property name="validationQuery" value="select 'x'"></property>
		<!--maxActive: 最大连接数量 -->
		<property name="maxActive" value="${tcmhipw.jdbc.pool.maxActive}" />
		<!--initialSize: 初始化连接 -->
		<property name="initialSize" value="${tcmhipw.jdbc.pool.maxIdle}" />
	</bean>
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
       <property name="dataSource" ref="framework_dataSource" />  
 	</bean>  
	<!-- 配置事务传播特性 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
	    <tx:attributes>
	      <tx:method name="add*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
	      <tx:method name="delete*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
	      <tx:method name="update*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
	      <tx:method name="term*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
	      <tx:method name="get*" propagation="SUPPORTS"/>
	    </tx:attributes>
	</tx:advice>
	<!-- 配置参与事务的类 -->
	<aop:config>
		<aop:pointcut id="serviceMethod" expression="execution(* com.sinosoft.*.*.service.*.*(..))"/>
		<aop:advisor pointcut-ref="serviceMethod" advice-ref="txAdvice" />
	</aop:config>
</beans>