<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="booksystem.dao.BookDao">
	<resultMap type = "Book" id = "BookResultMap">
		<id property = "book_isbn" column = "book_isbn" />
		<result property = "book_name" column = "book_name" />
		<result property = "book_price" column = "book_price" />
		<result property = "book_type" column = "book_type" />
		<result property = "book_author" column = "book_author" />
		<result property = "book_totalnum" column = "book_totalnum" />
		<result property = "book_avanum" column = "book_avanum" />
	</resultMap>
	
	<select id="bookInfo" resultMap="BookResultMap">
		select  book_type,sum(book_totalnum) as book_totalnum  from book group by book_type
	</select>
	
	<select id="book" resultMap="BookResultMap" parameterType="Book">
		select  book_isbn,book_name,book_author,book_type,book_price,book_avanum from book
		<where>  
	        <if test="book_isbn!=null and book_isbn!='' ">  
	            book_isbn LIKE CONCAT(CONCAT('%', #{book_isbn}),'%') 
	        </if>  
	        <if test="book_name!=null and book_name!='' ">  
	             and book_name LIKE CONCAT(CONCAT('%', #{book_name}),'%') 
	        </if>
	        <if test="book_type!=null and book_type!='' ">  
	             and book_type LIKE CONCAT(CONCAT('%', #{book_type}),'%') 
	        </if>
	    </where>
	</select>
	
	<update id="borrow" parameterType="Integer">
		 update book set book_avanum = (book_avanum - 1) where  book_isbn = #{book_isbn} 
	</update>
	
</mapper>