<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="booksystem.dao.StudentDao">
	<resultMap type = "Students" id = "StudentsResultMap">
		<id property = "sid" column = "sid" />
		<result property = "username" column = "username" />
		<result property = "pass" column = "spass" />
		<result property = "tel" column = "tel" />
	</resultMap>
	
	<select id="login" parameterType="Students" resultMap="StudentsResultMap">
		select * from student where username=#{username} and spass=#{pass}
	</select>
	
	<select id="userName" parameterType="Students" resultMap="StudentsResultMap">
		select * from student where username=#{username}
	</select>
	
</mapper>