@CHARSET "UTF-8";
body{
	overflow: hidden;
}
#bookType{
	height: 400px;
	width: 341px; 
}
#borrowType{
	height: 400px;
	width: 341px; 
}
#index_content .glyphicon{
	top: 1px;
}
.quit{
	float: right;
    margin-top: -53px;
    margin-right: 15px;
    color: #eee;
}
.quit .glyphicon{
	top: 3px;
    right: 3px;
}